<div class="layout">
  <div class="left">
    <h2 class="title">Albums</h2>

    <ng-container *ngIf="albums$ | async as albums; else loading">
      <button
        class="item"
        *ngFor="let album of albums"
        [routerLink]="[album.id]"
        routerLinkActive="active"
      >
        <div class="line1"><b>Album {{ album.id }}</b></div>
        <div class="line2">User: {{ album.userId }}</div>
      </button>
    </ng-container>

    <ng-template #loading>
      <p class="loading">Loading albums...</p>
    </ng-template>
  </div>

  <div class="right">
    <p class="hint">Select album to see details and photos →</p>
    <router-outlet></router-outlet>
  </div>
</div>